　<% if book.favorited?(current_user) %>
     <td><%= link_to book_favorites_path(book.id), method: :delete, remote:true do %>
     <span style="color:red;">❤︎</span> <%=book.favorites.count %></td>
    <% end %>
    <% else %>
     <td><%= link_to book_favorites_path(book.id), method: :post, remote:true do %>
     <span>♡︎</span> <%=book.favorites.count %></td>
    <% end %>
  <% end %>